button {
  font-family: "Bungee", sans-serif;
  color: white;
  background-color: #4056a1;
  border: none;
  cursor: pointer;
}
label {
  font-weight: bold;
}
textarea {
  margin-top: 1rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
}
.new-tweet-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.counter {
  font-family: "Bungee", sans-serif;
}
.counter-red {
  color: red;
}
.error-container {
  border: 4px solid red;
  display: none;
}
.error-container-flex {
  display: flex !important;
  justify-content: space-around;
}
.error-container i {
  color: red;
  margin-top: 24px;
}
.error-container p {
  color: red;
  font-weight: bold;
}
/* 
Media Query for desktop */
@media screen and (min-width: 1024px) {
  .container {
    padding-top: 120px;
  }
}
